.swap {
  margin: 50px 0 50px 0;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #00D2D4;
  background-color: #000000ab;
  border-radius: 30px;

  &_header {
    padding: 20px;
    @include displayCenter(center, space-between);
  }
  &_body {
    padding: 0 40px 40px 40px;
    @include mQ($sm) {
      padding: 20px 10px;
    }
    .input_label {
      margin-bottom: 10px;
      @include displayCenter(center, space-between);
      button {
        border-radius: 100px;
        background: $primary;
        transition: $transition;
        border: 0;
        font-size: 14px;
        padding: 3px 20px;
        display: inline-block;
        text-transform: capitalize;
        vertical-align: middle !important;
        color: #000000;
        &:hover {
          box-shadow: 0px 0px 30px #ffffff83 !important;
        }
      }
      label {
        font-size: 18px;
      }
    }
    .inputWrapper {
      flex-direction: row-reverse;
      border: 1px solid $primary;
      padding: 8px 10px 8px 5px;
      @include displayCenter(center, space-between);
      background-color: #fff;
      color: #333;
      border-radius: 15px;
      input {
        border: 0;
        outline: 0;
        color: $primary;
        background-color: transparent;
      }
      .form-control {
        text-align: right;
      }
    }
    .arrow_down {
      margin: 20px auto 0 auto;
      font-size: 20px;
      cursor: pointer;
    }
  }
  &_footer {
    padding: 0 35px 20px 20px;
    display: flex;
    justify-content: end;
    @include mQ($sm) {
      padding: 20px;
    }
    .btn_brand {
      width: 100%;
      max-width: 250px;
      border-radius: 100px;
      display: block;
      color: #00D2D4;
      background: #000;
      border: 2px solid #00D2D4;
      @include mQ($sm) {
        margin: 0 auto;
      }
    }
  }
  .top_img {
    margin-left: auto;
    margin-right: 30px;
  }
  .bottom_img {
    margin-left: 30px;
  }

  .css-seccae-singleValue {
    color: #000;
  }
  .css-1wumjek-Control,
  .css-nt1nhv {
    border: 0px solid #fafafa;
    border-radius: 100px;
  }
  .swap_logo {
    padding: 40px;
    background-color: #000;
    border-radius: 30px 30px 0 0;
    
    @include mQ($sm) {
      padding: 20px 40px;
    }
  }
}
